@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.title {
    color: white;
    font-family: 'Dosis', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
}

.logo {
    width: 225px;
    height: 72px;
}

.navbarCustom {
    background-color: #3666B4 !important;
}

@media (max-width: 600px) {
    .logo {
        width: 134px;
    }
}